/* Global decorative/proportions (12 col base) */

body {
    overflow-x: hidden;
    position: relative;
    margin: 0;
    background-color: #1F2528;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.3%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.col-6 {
    width: 16.6%;
}

.col-7 {
    width: 14.28%
}

.lp {
    box-sizing: border-box;
    padding-left: 15px;
}

.rp {
    box-sizing: border-box;
    padding-right: 15px;
}

.t {
    -webkit-transition: all 200ms;
    transition: all 200ms;
    -webkit-transition-timing-function: cubic-bezier(.8, .75, .39, 1.25);
    transition-timing-function: cubic-bezier(.8, .75, .39, 1.25);
}

.constrain {
    max-width: 1000px;
    width: 100%;
    min-width: 200px;
}

.noscroll {
    overflow: hidden;
}

.round {
    border-radius: 50%;
}

.border {
    border: 3px solid white;
}

.border-dark {
    border-color: black;
}

.border-light {
    border-color: white;
}

.left-align {
    text-align: left;
}

.underline-div {
    border-bottom: 2px solid;
}

.indent {
    padding-left: 30px;
}

input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

/* Flex */

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.no-wrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.spc-btwn {
    -ms-flex-line-pack: justify;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.spc-arnd {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.algn-cntr {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.visible {
    display: block !important;
}

.hidden {
    display: none !important;
}

.button {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    transition: all 200ms ease-in;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

.button:hover {
    
}

.button.active {
    border-bottom: 2px solid white;
}

/* Header */

header {
    position: relative;
    background-color: #181C21;
    color: rgba(255, 255, 255, .6);
    z-index: 100;
}

header .highlight {
    color: #19BD66;
    font-weight: 700;
}

.header-top {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    margin: auto;
    height: 40px;
    color: white;
}

.header-top .button {
    flex-grow: 1;
    justify-content: center;
}

.header-nav {
    height: 60px;
    margin: auto;
}

.header-nav .button {
    flex-grow: 1;
    justify-content: center;
    box-sizing: border-box;
}

.header-nav .button:hover, header .active {
    border-bottom: 3px solid white;
    color: white;
}

.header-top .button:hover {
    text-decoration: underline;
}

.header-top .twitter {
    height: 40%;
    margin-top: 12px;
}

/* Sidebar */

.sidebar {
    position: fixed;
    width: 0;
    height: 100vh;
    bottom: 0;
    left: 0;
    background-color: #1F2528;
    z-index: 10;
    flex-shrink: 0;
}

.sidebar.extended {
    width: 300px;
}

.sidebar > .button-con.extended {
    left: 300px;
}

.sidebar > .button-con {
    position: fixed;
    left: 0px;
    width: 50px;
    background-color: #1F2528;
    top: calc(33% - 75px);
    z-index: 50;
}

.sidebar > .button-con .button {
    height: 50px;
    width: 100%;
    justify-content: center;
    filter: brightness(1.7);
}

.sidebar > .button-con .button:hover, .sidebar > .button-con .button.highlight {
    filter: brightness(1)
}

#ChatBut {
    background: url("/icons/chat.png") center no-repeat;
}

#ChatBut:hover, #ChatBut.highlight {
    background: url("/icons/chatActive.png") center no-repeat;
}

#AffiliateBut {
    background: url("/icons/aff.png") center no-repeat;
}

#AffiliateBut:hover, #AffiliateBut.highlight {
    background: url("/icons/affActive.png") center no-repeat;
}

#InfoBut {
    background: url("/icons/info.png") center no-repeat;
}

#InfoBut:hover, #InfoBut.highlight {
    background: url("/icons/infoActive.png") center no-repeat;
}

/* main */ 
.main {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    
}
.page {
    position: relative;
    width: calc(100% - 300px);
    height: 100%;
    background: url(/icons/back.png) left 0px top -100px;
    background-size: cover;
    background-color: #1F2528;
    flex: 10 10 auto;
}

.page.extended {
    padding-left: 300px;
}

.page > .game {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 55vh;
    padding: 0 30px 0 80px;
    background-color: rgba(25, 40, 55, .9);
    color: white;
    flex-shrink: 0;
}

.page > .game > .head {
    position: relative;
    height: 80px;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
}

.page > .game > .head > 
.latest {
    align-items: center;
    width: 250px
}

.page > .game > .head > 
.latest .item {
    padding: 8px;
    width: 15px;
    height: 15px;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, .2);
    margin-left: 5px;
    font-weight: 700;
}

.page > .game > .head > 
.latest .item:hover {
    color: #FF5B5B;
    cursor: pointer;
}

.page > .game > .head > 
.latest p {
    margin-right: 5px;
}

.page > .game > .head::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, .2);
}

.page > .game > .head::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #1ABE65;
    width: 50%;
}

.page > .game > .numbers-con {
    position: relative;
    justify-content: center;
    width: 75%;
    margin: auto;
}

.page > .game > .numbers-con > 
.numbers {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: 50px;
    margin-bottom: 8vh;
}

.page > .game > .numbers-con > 
.numbers .item {
    display: flex;
    min-width: 8.3%;
    min-height: 100%;
    flex: 1 15 auto;
    align-items: center;
    justify-content: center;
}

div[data-color="red"]{
    background-color: #FF5B5B;
}

div[data-color="green"]{
    background-color: #1ABE65;
}

div[data-color="black"]{
    background-color: #1F2528;
}

.bet-con p.col-1 {
    flex-shrink: 0;
}

.bet-con > .bet-inp {
    width: 200px;
}

.bet-con .bet-amt {
    width: 80px;
    height: 30px;
    color: white;
}

.bet-con .button {
    color: rgba(255, 255, 255, .6);
    margin-left: 15px;
}

.bet-con .button:hover {
    color: white;
}

.game > .odds {
    position: absolute;
    left: 0;
    bottom: -25px;
    z-index: 5;
    box-sizing: border-box;
    padding: 0 30px 0 80px;
}

.game > .odds .info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}


.page > .boards {
    position: relative;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 30px 0 80px;
    flex-grow: 1;
    min-height: calc(100vh - 50px);
}

.board-con {
    margin-top: 50px;
    border-top: solid 1px rgba(0, 0, 0, .1);
    padding-top: 30px;
}

.user-card {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
}

.user-card.top {
    padding-bottom: 15px;
    border-bottom: solid 1px rgba(0, 0, 0, .1);;
}

.user-card > div {
    width: 30px;
    height: 30px;
}

.user-card > .user {
    flex-grow: 1;
    margin-left: 5px;
}

