/* Global decorative/proportions (12 col base) */


/* Fonts */

h1,
h2,
h3,
h4,
h5,
h6,
th {
    color: rgba(120, 127, 131, 1);
    font-weight: 700;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1em;
}

h4,
th {
    font-size: .8em;
}

h5 {
    font-size: .75em;
}

body {
    overflow-x: hidden;
    position: relative;
    margin: 0;
    background-color: #1F2528;
    font-family: 'Roboto', sans-serif;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.3%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.col-6 {
    width: 16.6%;
}

.col-7 {
    width: 14.28%
}

.lp {
    box-sizing: border-box;
    padding-left: 15px;
}

.rp {
    box-sizing: border-box;
    padding-right: 15px;
}

.lm {
    box-sizing: border-box;
    margin-left: 2.5px;
}

.rm {
    box-sizing: border-box;
    margin-right: 2.5px;
}

.bm {
    box-sizing: border-box;
    margin-bottom: 5px;
}

.t {
    -webkit-transition: all 200ms;
    transition: all 200ms;
    -webkit-transition-timing-function: cubic-bezier(.8, .75, .39, 1.25);
    transition-timing-function: cubic-bezier(.8, .75, .39, 1.25);
}

.constrain {
    max-width: 1000px;
    width: 100%;
    min-width: 200px;
}

.noscroll {
    overflow: hidden;
}

.round {
    border-radius: 50%;
}

.border {
    border: 3px solid white;
}

.border-dark {
    border-color: black;
}

.border-light {
    border-color: white;
}

.left-align {
    text-align: left;
}

.underline-div {
    border-bottom: 2px solid;
}

.indent {
    padding-left: 30px;
}

input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}


/* Flex */

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.no-wrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.spc-btwn {
    -ms-flex-line-pack: justify;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.spc-arnd {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.algn-cntr {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.j-cntr {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.visible {
    display: block !important;
}

.hidden {
    display: none !important;
}

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.button:hover {}

.button.active {
    border-bottom: 2px solid white;
}

.unclickable {
    z-index: -1;
}

/* Header */

img.coins {
    width: 15px;
    height: 15px;
    margin: 10px;
}

header {
    position: relative;
    background-color: #181C21;
    color: rgba(255, 255, 255, .6);
    z-index: 100;
}

header .highlight,
.header-nav .button.highlight,
.button.highlight {
    color: #19BD66;
    font-weight: 700;
}

.header-top {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    margin: auto;
    height: 40px;
    color: white;
}

.header-top .button {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header-nav {
    height: 60px;
    margin: auto;
}

.header-nav .button {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

.header-nav .button:hover,
header .active {
    border-bottom: 3px solid white;
    color: white;
}

.header-top .button:hover {
    text-decoration: underline;
}

.header-top .twitter {
    height: 40%;
    margin-top: 12px;
    margin-left: 45px;
}


/* Sidebar */

.sidebar {
    position: fixed;
    width: 0;
    height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    background-color: #1F2528;
    z-index: 10;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: white;
    overflow: hidden;
}

.sidebar.extended {
    width: 300px;
}

.sidebar > .button-con.extended {
    left: 300px;
}

.sidebar > .button-con {
    position: fixed;
    left: 0px;
    width: 50px;
    background-color: #1F2528;
    top: calc(33% - 75px);
    z-index: 50;
}

.sidebar > .button-con .button {
    height: 50px;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-filter: brightness(1.7);
    filter: brightness(1.7);
}

.sidebar > .button-con .button:hover,
.sidebar > .button-con .button.highlight {
    -webkit-filter: brightness(1);
    filter: brightness(1)
}

#ChatBut {
    background: url("/icons/chat.png") center no-repeat;
}

#ChatBut:hover,
#ChatBut.highlight {
    background: url("/icons/chatActive.png") center no-repeat;
}

#AffiliateBut {
    background: url("/icons/aff.png") center no-repeat;
}

#AffiliateBut:hover,
#AffiliateBut.highlight {
    background: url("/icons/affActive.png") center no-repeat;
}

#InfoBut {
    background: url("/icons/info.png") center no-repeat;
}

#InfoBut:hover,
#InfoBut.highlight {
    background: url("/icons/infoActive.png") center no-repeat;
}

.chat > .foot {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgba(255, 255, 255, .1);
}

#EmojiBut,
#ChatSend,
#ChatRulesBut {
    min-width: 50px;
    height: 40px;
    padding: 10px;
    padding-top: 12px;
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
    display: inline-block;
}

#ChatRulesBut {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.chat .button-con .button:hover {
    background-color: #1ABE65;
}

#ChatInp {
    width: 100%;
    max-width: 100%;
    min-height: 60px;
    height: auto;
    max-height: 120px;
    padding: 10px;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    font-weight: 700;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
}

.chat > .foot .button {
    background-color: rgba(255, 255, 255, .05);
}

.chat > .foot > .button-con {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.sidebar > .affiliate,
.sidebar > .info {
    padding: 30px;
}

.affiliate .button-con {
    margin-top: 15px;
    -ms-flex-line-pack: end;
    align-content: flex-end;
}

#Referral > input {
    padding: 8px;
    margin-right: 5px;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 80%;
    color: white;
}

#Referral > .button {
    padding: 8px;
}

#Referral > .button:hover {
    background-color: rgba(255, 255, 255, .1);
}

.affiliate .button-con .button {
    position: relative;
    background-color: white;
    padding: 8px;
    color: black;
    -ms-flex-negative: 2;
    flex-shrink: 2;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.affiliate .button-con h5,
.affiliate .button-con p {
    margin: 0;
    color: black;
}

.affiliate .button-con p {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.affiliate .button-con .button p:first-of-type {
    font-size: 1.4em;
    float: left;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.affiliate .button-con .button img:first-of-type {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
}

.affiliate .button-con .button:last-of-type {
    text-align: center;
    background-color: #1ABE65;
    color: white;
    height: 50px;
}

.affiliate .button-con .button.col-2:nth-child(even) {
    border-left: solid 2.5px #202529;
}

.affiliate .button-con .button.col-2:nth-child(odd) {
    border-right: solid 2.5px #202529;
}


/* main */

.main {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 100px);
}

.page {
    position: relative;
    width: calc(100% - 300px);
    min-height: calc(100vh - 100px);
    height: auto;
    background: url(/icons/back.png) left top;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1F2528;
    -webkit-box-flex: 10;
    -ms-flex: 10 10 auto;
    flex: 10 10 auto;
}

.page.extended {
    padding-left: 300px;
}


/* Game */

.page > .game {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding-left: calc(50% - 600px + 80px);
    padding-right: calc(50% - 600px + 30px);
    background-color: rgba(37, 48, 53, 0.86);
    color: white;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    clear: both;
    padding-bottom: 100px;
}

body[data-page="dice"] .game {
}

body[data-page="flip"] .game {

}

body[data-page="crash"] .game, body[data-page="transfer"] .game {
    
}

.page > .game > .head {
    position: relative;
    height: 80px;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.page > .game > .head > .latest {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 250px
}

.page > .game > .head > .latest .item {
    width: 30px;
    height: 30px;
    padding-top: 6px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(255, 255, 255, .2);
    margin-left: 5px;
    font-weight: 700;
}

.page > .game > .head > .latest .item:hover {
    color: #FF5B5B;
    cursor: pointer;
}

.page > .game > .head > .latest p {
    margin-right: 5px;
}

.page > .game > .head::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, .2);
}

.page > .game > .head::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #1ABE65;
    width: 50%;
}

.page > .game > .numbers-con {
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 75%;
    margin: auto;
    font-weight: 700;
    color: white;
}

.flip-con .numbers-con h1 {
    margin-top: 0;
    font-size: 3em;
}

.page > .game > .numbers-con > .numbers {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: 50px;
    margin-bottom: 8vh;
}

.page > .game > .numbers-con > .numbers .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 8.3%;
    min-height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 15 auto;
    flex: 1 15 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

div[data-color] {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

div[data-color="red"] {
    background-color: #FF5B5B;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

div[data-color="green"] {
    background-color: #1ABE65;
}

div[data-color="white"] {
    background-color: white;
    color: black;
}

div[data-color="black"] {
    background-color: #1F2528;
}

div[data-color].button {
    padding: 15px;
    display: flex;
    min-width: 170px;
    align-items: center;
    justify-content: center;
}

.dice .bet-con .coins {
    margin-left: 0;
}

.bet-con > .button {
    font-weight: 700;
    font-size: 1.2em;
}

.bet-con p.col-1 {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.bet-con > .bet-inp {
    position: relative;
}

.bet-con > .bet-inp > .sub {
    position: absolute;
    width: 100%;
    bottom: calc(-20px);
    left: 0;
}

.bet-con > .bet-inp > .sub h5 {
    color: white;
}

.bet-con > .bet-inp .button {
    display: block;
    padding: 0;
    padding-top: 0px;
    box-sizing: border-box;
    min-width: 20px;
    width: 20px;
    height: 20px;
    min-height: 20px;
    text-align: center;
    background-color: #494D56;
    z-index: 5;
}

body[data-page="roulette"] .bet-con > .bet-inp .button {
    padding: 8px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: auto;
    height: 30px;
    padding-top: 5px;
}

.bet-con h5 {
    display: inline-block;
    text-align: center;
}

.bet-con .bet-amt {
    width: 80px;
    height: 40px;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    margin: 7.5px;
    z-index: 5;
    text-align: center;
}

.bet-con .button {
    color: rgba(255, 255, 255, .6);
    margin: 7.5px;
}

.bet-con .button:hover {
    color: white;
}

.game > .odds {
    position: absolute;
    left: 0;
    width: 100%;
    padding-left: calc(50% - 600px + 30px);
    padding-right: calc(50% - 600px + 30px);
    bottom: -25px;
    z-index: 5;
    box-sizing: border-box;
    padding: 0 30px 0 80px;
    font-weight: 700;
}

.game > .odds .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
}

.game > .button.cta {
    box-sizing: border-box;
}

.game > .button.cta:hover {
    -webkit-filter: contrast(1.25);
    filter: contrast(1.25);
}

.game > .flip-con {
    margin-bottom: 0;
}

.game > .flip-con > .bar {
    width: 50%;
    height: 40px;
    content: "50%";
    color: white;
    text-align: center;
    font-weight: 700;
    background-color: #181C21;
}

.game > .flip-con > .bar::after {
    width: 50%;
    height: inherit;
    display: block;
    content: "50%";
    float: right;
    background-color: #1ABE65;
    padding-top: 10px;
    box-sizing: border-box;
}

.game > .flip-con > .bar::before {
    width: 50%;
    height: inherit;
    display: block;
    content: "50%";
    float: left;
    background-color: #181C21;
    padding-top: 10px;
    box-sizing: border-box;
}

.crash-left > .tab-con, .dice > .tab-con, .board-con > .tab-con {
    padding: 15px;
}

.tab-con .button {
    border-bottom: 2px solid rgba(0, 0, 0, .075);
}

.tab-con .button.active, .tab-con .button:hover {
    color: #1ABE65;
}
.tab-con .button.active {
    border-color: #1ABE65;
}

.dice > .tab-con {
    padding-left: 0;
    padding-right: 0;
}

.dice .divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.divider {
    border-bottom: 1px solid rgba(255, 255, 255, .075);
    width: 100%;
    flex-shrink: 0;
}

.crash-left .tab, .dice .tab, .board-con .tab {
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    height: 40px;
    color: rgba(120, 127, 131, 1);
}

.crash-left .tab.button, .dice .tab.button {
    border-bottom: 2px solid rgba(255, 255, 255, .075);
}

.crash-left .tab.button.active, .dice .tab.button.active {
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.crash-left .tab.button:hover {
    border-bottom: 2px solid white;
}

.crash-left > .chart-con {
    padding-top: 50px;
    padding-bottom: 50px;
}

.crash-left > .button {
    margin: auto;
    margin-bottom: 40px;
}

.crash-left > .chart-con > .bet-con {
    width: 120px;
}

.crash-left > .chart-con > .bet-con .bet-amt {
    width: 100%;
    margin: 0;
}

.crash-left .chart {
    width: 20vw;
    height: 20vw;
    background-color: rgba(0, 0, 0, .1);
    margin-right: 30px;
}

.crash-left > .table-con {
    margin-bottom: 100px;
}

.crash-right {
    padding-top: 70px;
}

.flip-con * {
    color: white;
}

.table-con a {
    color: white;
}

.table-con > table {
    color: white;
}

.table-con > table th {
    text-align: left;
}

.highlight {
    color: #1ABE65;
    border-color: #1ABE65;
}

.table-con > table td {
    min-width: 25px;
    height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, .075);
    padding: 10px;
}

.crash-left {
    flex-grow: 1;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .075);
}

.crash-right {
    padding-left: 15px;
}

.transfer .search {
    position: relative;
    height: 40px;
    width: 100%;
    left: 0;
    top: 5px;
    color: rgba(255, 255, 255, .75);
    font-weight: 700;
    font-size: 1.1em;
    padding: 15px;
    padding-left: 45px;
    border-bottom: none;
}

.transfer .search-con {
    width: 100%;
    height: 50px;
    position: relative;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .075);
}

.transfer .search-con:before {
    position: absolute;
    content: "";
    display: block;
    background-image: url("/icons/glass.png");
    background-size: cover;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    z-index: 5;
}

.transfer .cards-con {
    flex-grow: 1;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.transfer .selected-card {
    position: relative;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.transfer .selected-card .gun {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.transfer .selected-card .coins {
    margin-left: 0;
    margin-bottom: 2px;
}

.transfer .selected-card .button.close {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .1);
    color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 10px);
    right: 0;
    font-size: .9em;
    padding-bottom: 2px;
}

.transfer .selected-card p {
    margin-bottom: 0;
}

.transfer .selected-card .details {
    align-items: flex-end;
}

.transfer .selected-con .total {
    padding: 15px 0 15px 0;
}

.transfer .selected-con {
    flex-shrink: 0;
    width: 400px;
    padding: 30px;
    padding-top: 0;
    box-sizing: border-box;
}

.transfer .selected-con > h5 {
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: 15px;
    text-align: center;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.transfer .selected-card h5 {
    margin: 0;
}

.transfer .cards-con {
    padding-top: 30px;
}

.transfer .cards-con .card {
    position: relative;
    width: 30%;
    min-width: 150px;
    background-color: #1F2528;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    margin: 7.5px;
}

.transfer .cards-con .card input[type="checkbox"] {
    margin: 0;
    outline: none;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 50%;
}

.transfer .cards-con .card p {
    margin: 0;
}

.transfer .cards-con .card .coins {
    margin-left: 0;
} 


/*boards*/

.page > .boards {
    position: relative;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    left: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-height: calc(100vh - 50px);
}

.board-con {
    margin-top: 50px;
    max-width: 1200px;
    padding-left: calc(50% - 600px + 80px);
    padding-right: calc(50% - 600px + 30px);
    border-top: solid 1px rgba(0, 0, 0, .1);
    padding-top: 30px;
}

.board-con .tab-con {
    margin-bottom: 30px;
}

.board-con .table-con table td {
    border-bottom: solid 1px rgba(0, 0, 0, .1);
}

.board-con .table-con table {
    color: rgba(120, 127, 131, 1);
    width: 100%;
}

@media screen and (min-width: 1300px) {
    .page > .game, .board-con, .game > .odds {
        padding-left: calc(50% - 600px + 30px);
        padding-right: calc(50% - 600px + 30px);
    }
}

@media screen and (max-width: 1299px) {
    .page > .game, .board-con, .game > .odds {
        padding-left: 80px;
        padding-right: 30px;
    }
}

.spacing-out {
    padding-left: 80px !important;
    padding-right: 30px !important;
}

.user-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
}

.user-card.top {
    padding-bottom: 15px;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
}

.user-card > div {
    width: 30px;
    height: 30px;
}

.user-card > .user {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 5px;
}