{% extends 'base.html' %}

{% block game %}
<div class="game transfer flex col">
    <div class="search-con col-1 flex row no-wrap">
        <input class="search col-1" type="text">
    </div>
    <div class="flex row no-wrap">
        <div class="cards-con flex row wrap col-2 rp j-cntr">
            <div class="card flex col algn-cntr">
                <div class="flex row col-1 spc-btwn">
                    <p>User</p>
                    <input class="checkbox" type="checkbox">
                </div>
                <img class="gun col-1" src="/icons/gun.png">
                <p>This is the gun details</p>
                <div class="flex algn-cntr highlight">
                    <img class="coins" src="/icons/coins.png">
                    135
                </div>
            </div>
            <div class="card flex col algn-cntr">
                <div class="flex row col-1 spc-btwn">
                    <p>User</p>
                    <input class="checkbox" type="checkbox">
                </div>
                <img class="gun col-1" src="/icons/gun.png">
                <p>This is the gun details</p>
                <div class="flex algn-cntr highlight">
                    <img class="coins" src="/icons/coins.png">
                    135
                </div>
            </div>
            <div class="card flex col algn-cntr">
                <div class="flex row col-1 spc-btwn">
                    <p>User</p>
                    <input class="checkbox" type="checkbox">
                </div>
                <img class="gun col-1" src="/icons/gun.png">
                <p>This is the gun details</p>
                <div class="flex algn-cntr highlight">
                    <img class="coins" src="/icons/coins.png">
                    135
                </div>
            </div>
            <div class="card flex col algn-cntr">
                <div class="flex row col-1 spc-btwn">
                    <p>User</p>
                    <input class="checkbox" type="checkbox">
                </div>
                <img class="gun col-1" src="/icons/gun.png">
                <p>This is the gun details</p>
                <div class="flex algn-cntr highlight">
                    <img class="coins" src="/icons/coins.png">
                    135
                </div>
            </div>
            <div class="card flex col algn-cntr">
                <div class="flex row col-1 spc-btwn">
                    <p>User</p>
                    <input class="checkbox" type="checkbox">
                </div>
                <img class="gun col-1" src="/icons/gun.png">
                <p>This is the gun details</p>
                <div class="flex algn-cntr highlight">
                    <img class="coins" src="/icons/coins.png">
                    135
                </div>
            </div>
            <div class="card flex col algn-cntr">
                <div class="flex row col-1 spc-btwn">
                    <p>User</p>
                    <input class="checkbox" type="checkbox">
                </div>
                <img class="gun col-1" src="/icons/gun.png">
                <p>This is the gun details</p>
                <div class="flex algn-cntr highlight">
                    <img class="coins" src="/icons/coins.png">
                    135
                </div>
            </div>
            <div class="card flex col algn-cntr">
                <div class="flex row col-1 spc-btwn">
                    <p>User</p>
                    <input class="checkbox" type="checkbox">
                </div>
                <img class="gun col-1" src="/icons/gun.png">
                <p>This is the gun details</p>
                <div class="flex algn-cntr highlight">
                    <img class="coins" src="/icons/coins.png">
                    135
                </div>
            </div>
            <div class="card flex col algn-cntr">
                <div class="flex row col-1 spc-btwn">
                    <p>User</p>
                    <input class="checkbox" type="checkbox">
                </div>
                <img class="gun col-1" src="/icons/gun.png">
                <p>This is the gun details</p>
                <div class="flex algn-cntr highlight">
                    <img class="coins" src="/icons/coins.png">
                    135
                </div>
            </div>
            <div class="card flex col algn-cntr">
                <div class="flex row col-1 spc-btwn">
                    <p>User</p>
                    <input class="checkbox" type="checkbox">
                </div>
                <img class="gun col-1" src="/icons/gun.png">
                <p>This is the gun details</p>
                <div class="flex algn-cntr highlight">
                    <img class="coins" src="/icons/coins.png">
                    135
                </div>
            </div>
            <div class="card flex col algn-cntr">
                <div class="flex row col-1 spc-btwn">
                    <p>User</p>
                    <input class="checkbox" type="checkbox">
                </div>
                <img class="gun col-1" src="/icons/gun.png">
                <p>This is the gun details</p>
                <div class="flex algn-cntr highlight">
                    <img class="coins" src="/icons/coins.png">
                    135
                </div>
            </div>
            <div class="card flex col algn-cntr">
                <div class="flex row col-1 spc-btwn">
                    <p>User</p>
                    <input class="checkbox" type="checkbox">
                </div>
                <img class="gun col-1" src="/icons/gun.png">
                <p>This is the gun details</p>
                <div class="flex algn-cntr highlight">
                    <img class="coins" src="/icons/coins.png">
                    135
                </div>
            </div>
            <div class="card flex col algn-cntr">
                <div class="flex row col-1 spc-btwn">
                    <p>User</p>
                    <input class="checkbox" type="checkbox">
                </div>
                <img class="gun col-1" src="/icons/gun.png">
                <p>This is the gun details</p>
                <div class="flex algn-cntr highlight">
                    <img class="coins" src="/icons/coins.png">
                    135
                </div>
            </div>
            <div class="card flex col algn-cntr">
                <div class="flex row col-1 spc-btwn">
                    <p>User</p>
                    <input class="checkbox" type="checkbox">
                </div>
                <img class="gun col-1" src="/icons/gun.png">
                <p>This is the gun details</p>
                <div class="flex algn-cntr highlight">
                    <img class="coins" src="/icons/coins.png">
                    135
                </div>
            </div>
            <div class="card flex col algn-cntr">
                <div class="flex row col-1 spc-btwn">
                    <p>User</p>
                    <input class="checkbox" type="checkbox">
                </div>
                <img class="gun col-1" src="/icons/gun.png">
                <p>This is the gun details</p>
                <div class="flex algn-cntr highlight">
                    <img class="coins" src="/icons/coins.png">
                    135
                </div>
            </div>
            
        </div>
        <div class="selected-con flex col no-wrap">
            <h5>Selected Skins</h5>
            <div class="selected-card flex row no-wrap algn-cntr">
                <img class="gun" src="/icons/gun.png">
                <div class="flex col j-cntr">
                    <h5>This is the gun details</h5>
                    <span class="details flex row highlight">
                        <img class="coins" src="/icons/coins.png">
                        1351
                    </span>
                    <div class="button close flex algn-cntr j-cntr">x</div>
                </div>
            </div>
            <div class="selected-card flex row no-wrap algn-cntr">
                <img class="gun" src="/icons/gun.png">
                <div class="flex col j-cntr">
                    <h5>This is the gun details</h5>
                    <span class="details flex row highlight">
                        <img class="coins" src="/icons/coins.png">
                        1351
                    </span>
                    <div class="button close flex algn-cntr j-cntr">x</div>
                </div>
            </div>
            <div class="selected-card flex row no-wrap algn-cntr">
                <img class="gun" src="/icons/gun.png">
                <div class="flex col j-cntr">
                    <h5>This is the gun details</h5>
                    <span class="details flex row highlight">
                        <img class="coins" src="/icons/coins.png">
                        1351
                    </span>
                    <div class="button close flex algn-cntr j-cntr">x</div>
                </div>
            </div>
            <div class="selected-card flex row no-wrap algn-cntr">
                <img class="gun" src="/icons/gun.png">
                <div class="flex col j-cntr">
                    <h5>This is the gun details</h5>
                    <span class="details flex row highlight">
                        <img class="coins" src="/icons/coins.png">
                        1351
                    </span>
                    <div class="button close flex algn-cntr j-cntr">x</div>
                </div>
            </div>
            <div class="total flex row no-wrap spc-btwn algn-cntr">
                Total
                <div class="flex row algn-cntr highlight">
                    <img class="coins" src="/icons/coins.png">
                    354151
                </div>
            </div>
            <div data-color="green" class="button">Deposit</div>
            <br>
            <div data-color="red" class="button">Withdraw</div>
        </div>
    </div>
</div>
{% endblock %}

{% block boards %}
{% endblock %}